.title{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 40px;
    cursor: default;
    width: 100%;
    word-wrap: break-word;
}

.div-see-more{
    width: 221px;
    height: 60px;
    border-radius: 43px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    transition: all .15s ease-in-out;
    margin-top: 19px;
}

.div-see-more:hover, .div-see-more:active{
    opacity: .5;
}

.link-see-more{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-see-more .text-see-more{
    font-size: 20px;
    font-weight: 500;
}

.arrow-see-more{
    margin-left: 8.44px;
    width: 20.75px;
    height: 20.75px;
}

.container-big-img{
    width: 100%;
    margin-top: 35px;
}

.big-img{
    width: 100%;
    border-radius: 2px;
}

.container-little-imgs{
    margin-top: 8.5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.little-img{
    margin-top: 8.5px;
    width: 23.06%;
    cursor: pointer;
    border: none;
    transition: all .15s ease-in-out;
    border-radius: 2px;
}

.little-img:active{
    border: 3px solid #000;
}

.select{
    border: 3px solid #fff;
}

@media only screen and (min-width: 1007px){
    .title{
        font-size: 3.12vw;
        line-height: 3.12vw;
        width: 25.26vw;
        overflow-wrap: break-word;
        margin-right: 66.51vw;
        padding-top: 7.86vh;
        overflow: visible;
        word-wrap: unset;
    }

    .div-see-more{
        margin-top: 3.61vh;
    }

    .container-big-img{
        position: absolute;
        right: 4.01vw;
        top: 12.96vh;
        width: 58.76vw;
        margin: 0;
    }

    .container-little-imgs{
        margin-top: 9.99vh;
        padding-bottom: 5.365vw;
        width: 27.5vw;
        flex-wrap: nowrap;
    }

    .little-img{
        min-width:6.34vw;
        margin: 8.5px .76vw 0 0;
    }
}