main{
    background-color: #000;
    padding: 21.62px 29px 38px 29px;
}

@media only screen and (min-width: 1007px){
    main{
        padding: 0 4.01vw 0 4.21vw;
        height: fit-content;
    }
}