.footer{
    width: 100%;
    background-color: #fff;
}

.first-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    padding: 0 29px;
}

.rights-reserved{
    color: #000;
    font-size: 12px;
    font-weight: 600;
    margin-top: 11.04px;
    cursor: default;
}

.social-media{
    width: 57.96px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 23.75px;
}

.menu-footer{
    width: 100%;
    margin-top: 39.08px;
    padding: 0 29px;
}

.menu-footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu-footer ul li{
    text-align: center;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px #000 solid;
}

.menu-footer ul li:nth-child(1){
    padding-top: 0;
}

.menu-footer ul li .link{
    text-decoration: none;
    color:#000;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.link{
    opacity: 1;
    transition: all .15s ease-in;
}

.link:hover, .link:active{
    opacity: .5;
}

.address{
    width: 100%;
    background-color: #f4f4f4;
    padding-bottom: 30px;
}

.countries{
    margin-top: 31px;
    padding: 0 29px;
}

.name-country{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    padding-top: 31px;
}

.unit-address{
    color: #000;
    font-size: 12px;
    font-weight: 500;
    margin-top: 15px;
    font-style: normal;
}


@media only screen and (min-width: 1007px){
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-height: 220px;
    }

    .first-div{
        align-items: flex-start;
        padding: 3.98vh 0.88vw 0 4.06vw;
        margin: 0;
        width: 13.02vw;
    }

    .logo-corebiz-black{
        width: 7.29vw;
        height: 1.61vw;
    }
    
    .social-media{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 4.17vh;
    }

    .menu-footer{
        display: block;
        width: 9.63vw;
        margin: 0 5.57vw 0 0;
        padding: 3.96vh 0 4.53vh 0;
    }

    .menu-footer ul{
        align-items: flex-start;
        width: 100%;
    }

    .menu-footer ul li{
        text-align: left;
        width: 85%
    }

    .address{
        width: 66.82vw;
        padding: 4.9vh 0 0 0;
    }

    .countries{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }

    .country{
        max-width: 12.70vw;
        justify-content: space-around;
        align-items: flex-start;
    }

    .brasil{
        width: 210px;
    }

    .argentina{
        width: 155px;
    }

    .mexico{
        width: 244px;
    }

    .chile{
        width: 204px;
    }

    .name-country{
        padding: 0;
    }
    
    .unit-address{
        text-align: left;
    }
    
}